[Unit]
Description=SensorPi Qt Application
After=systemd-user-sessions.service
Wants=systemd-user-sessions.service

[Service]
Type=simple
User=techleef
Environment=DISPLAY=:0
ExecStart=/usr/bin/xinit /etc/X11/xinit/xinitrc -- :0
Restart=on-failure
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
