[Unit]
Description=SensorPi Qt Application
After=autox.service
Requires=autox.service

[Service]
Type=simple
User=techleef
Environment=DISPLAY=:0
ExecStart=/usr/bin/sensorpi -platform xcb
Restart=on-failure

[Install]
WantedBy=graphical.target
